In [3]:
Nama = input("Masukan Nama :")
TTL =  input("Masukan TTL : ")
Alamat = input("Masukan Alamat :")
NIM = input("Masukan NIM :")
Jurusan = input("Masukan Jurusan")

print("======BIODATA======")
print("Nama:{}".format(Nama))
print("TTL:{}".format(TTL))
print("Alamat:{}".format(Alamat))
print("NIM:{}".format(NIM))
print("Jurusan:{}".format(Jurusan))

Masukan Nama : Pirni
Masukan TTL :  Sukabumi, 20 Juni 2005
Masukan Alamat : Cibadak
Masukan NIM : 20240040179
Masukan Jurusan Teknik Informatika

======BIODATA======
Nama:Pirni
TTL:Sukabumi, 20 Juni 2005
Alamat:Cibadak
NIM:20240040179
Jurusan:Teknik Informatika

In [93]:
#UNIVERSITAS NUSA PUTRA SUKABUMI
teks = input("Masukkan Kalimat:")
kata = teks.split()

# a. putra nusa
Output_a = "{} {}".format(kata[2].lower(), kata[1].lower())
print("a.", Output_a)
# b. NIVERSITAS NSA PTRA SKABMI
Output_b = "{} {}{} {}{} {}{}{}".format(teks[1:11], teks[12],teks[14:16], teks[17],teks[19:22], teks[23],teks[25:28],teks[29:])
print("b.", Output_b)
# c. SUKABUMI PUTRA NUSA UNIVERSITAS
Output_c = "{} {} {} {}".format(kata[3], kata[2], kata[1], kata[0])
print("c.", Output_c)
# d. UNPS
Output_d = "{}{}{}{}".format(teks[0], teks[12], teks[17], teks[23])
print("d.", Output_d)
# e. TAS SAPU BUMI
Output_e = "{} {}{} {}".format(teks[8:11], teks[14:16], teks[17:19], teks[27:])

Masukkan Kalimat: UNIVERSITAS NUSA PUTRA SUKABUMI

a. putra nusa
b. NIVERSITAS NSA PTRA SKABMI
c. SUKABUMI PUTRA NUSA UNIVERSITAS
d. UNPS